.root-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.list-column {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  text-align: center;
}

button {
  margin: 5px !important;
  border: 1px solid #bebcbc !important;
  width: 100% !important;
}
